.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
    height: 10vh; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);    
}
  
  
.back-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
  
.navbar {
    display: flex;
    align-items: center;
}
  
.nav-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}
  
.nav-menu {
    position: absolute;
    top: 100%;
    right: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}
  
.nav-item {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;
}
  
.nav-item:hover {
    background-color: #f0f0f0;
}
  
.login-box {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(24, 20, 20, 0.987);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #bdb8b8;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 30px;
    letter-spacing: 4px
}

.login-box a:hover {
    background: #039cf4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #039cf4,
                0 0 25px #039cf4,
                0 0 50px #039cf4,
                0 0 100px #039cf4;
}

h2 {
    color: white;
    font-size: 24px; 
}

p {
    color: red;
    font-size: 16px; 
}

@media (max-width: 768px) {
    .login-box {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        padding: 40px;
        transform: translate(-50%, -50%);
        background: rgba(24, 20, 20, 0.987);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,.6);
        border-radius: 10px;
    }  
}