.prescription-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    color: white;
  }
  
  .prescription-box {
    background-color: darkgray; 
    padding: 20px;
    position: relative;
}
  
.rx-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    color:black;
    font-size: 35px;
    margin-left: 5%;
}
  
.datetag {
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
}
  
.prescription-details {
    text-align: center;
    margin-top: 40px;
}
  
.medicine-name,
.dosage,
.tdate{
    margin-top: 10px;
    color: black; 
}
  